@use '../abstract/variaveis';

header{
    background: variaveis.$gradiente-primario;
    padding: 2rem;
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        .linha {
            border-top: 1px solid black;
            width: 80%;
        }
        ul{
            display: inline-flex;
            gap: 2rem;
            li{
                list-style-type: none;
            }
            a{
                text-decoration: none;
                color: variaveis.$cor-primaria;
                font-weight: 400;
                font-size: 22px;
                font-family: variaveis.$ft-textos;
            }
        }
    }
    #home{
        max-width: 1040px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        .textos-home{
            max-width: 464px;
            h1{
                font-family: variaveis.$ft-titulos;
                color: variaveis.$cor-primaria;
                font-size: 42px;
                margin-bottom: 2rem;
                span{
                    color: variaveis.$cor-secundaria;
                }
            }
    
            .btn-main{
                font-family: variaveis.$ft-textos;
                font-size: 22px;
                font-weight: 600;
                color: white;

                border: none;
                cursor: pointer;
                border-radius: 40px;
                background: variaveis.$cor-secundaria;
                padding: 24px 60px;
            }
            .btn-main:hover{
                background-color: variaveis.$cor-terciaria;
            }
        }
        .img-home{
            max-width: 474px;
            img{
                width: 100%;
            }
        }
    }
}